body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  padding: 0;
  background-image: url(../assets/film.jpg);
  background-size: cover; }

.header {
  font-family: Helvetica, sans-serif;
  position: relative;
  width: auto; }

.navbar {
  position: relative;
  background-color: black; }
  .navbar img {
    width: 90px; }
  .navbar ul li a {
    color: black;
    font-family: Helvetica, sans-serif; }

.konten h2 {
  text-align: center;
  color: white; }

.row {
  margin-top: 50px;
  padding: 10px;
  width: 100%; }
  .row card {
    align-content: center;
    text-align: center; }

#wrapper {
  position: relative;
  width: 400px;
  height: auto;
  margin: auto;
  border: 2px solid #E91E63; }
  #wrapper .overlay {
    transition: background 0.5s ease; }

#wrapper:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3); }

img {
  width: 400px; }

h1 {
  position: absolute;
  width: 400px;
  left: 0;
  top: 120px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  z-index: 1;
  transition: top .5s ease; }

.content {
  margin-top: -21px;
  padding: 3px 0;
  height: 70px;
  color: white;
  text-align: center;
  background-color: #E91E63; }

.content p {
  border-radius: 50px;
  margin-top: 20px;
  background-color: white;
  color: #E91E63;
  line-height: 36px; }

#wrapper:hover h1 {
  top: 90px; }

.btn {
  position: absolute;
  width: 400px;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease; }

.btn a:hover {
  background-color: #E91E63;
  color: white;
  opacity: 0.7; }

.btn a {
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  z-index: 1;
  border-radius: 50px; }

#wrapper:hover .btn {
  opacity: 1; }

.wrapper {
  position: relative;
  width: 200px;
  height: 300px;
  margin: auto;
  border: 2px solid #E91E63; }

.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%); }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
  float: left; }

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  float: left; }

.hovereffect h2 {
  text-transform: uppercase;
  color: crimson;
  position: relative;
  font-size: 27px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left; }

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0); }

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.footer {
  background: #007b5e !important;
  position: relative; }
  .footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff; }
  .footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects; }
  .footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease; }
  .footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700; }
  .footer ul.quick-links li a i {
    margin-right: 5px; }
  .footer ul.quick-links li:hover a i {
    font-weight: 700;
    color: aliceblue; }

/*# sourceMappingURL=style.css.map */
