
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$link-hover : #229ed3;
$bg-color: #696969;

body {
  font: 100% $font-stack;
  color: $primary-color;
    padding: 0;
    background-image: url(../assets/bg.jpg);
}
.video-fluid {
  width: 100%;
  height: auto;
}
.konten{
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.6);
   margin-top: 55px;
    position: relative;
    p{
        color: white;
        text-align: center;
        margin-top: 12px;
    }
    img{
        width: 20%;
        height: 15%;
        margin-top: 50px;
        margin-left: 5px;
    }
    
}
.detail{
    width: 60%;
    height: auto;
    border: 3px solid white;
    border-radius: 12px;    
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
   
        ul{
        li{
            text-size:10px;
            list-style: none;
            margin-top: 5px;
            line-height: normal;
        }
    }
    
    
}
.btn{
    
    margin-left: 25%;
    margin-top: 15px;
    }

.footer {
    background: #007b5e !important;
    position: relative;
    margin-top: 10%;
    h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
    a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
    ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
    ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
    
}
    ul.quick-links li a i{
	margin-right: 5px;
}
    ul.quick-links li:hover a i {
    font-weight: 700;
        color: aliceblue;
}
}
//oveelay
.wrapper {
    position: relative;
    width: 200px;
    height: 300px;
    margin: auto;
    border: 2px solid #E91E63;
}
.hovereffect {
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
    float: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
    float: left;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: crimson;
  position: relative;
  font-size: 27px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

 