<!DOCTYPE html>
<html>
<head>
	<title>latihan day 2</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<header class="header">			
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <a class="navbar-brand" href="#">MOVIESTAR</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item ">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Jadwal</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link " href="#">Trending</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Tentang Kami</a>
		      </li>
		    </ul>
		    <form class="form-inline mt-2 mt-md-0">
		      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
</header>
<body>
	
		<section id="app">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top:-60px;">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img class="d-block w-100" src="assets/alladin.jpg" alt="First slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="assets/sky.jpg" alt="Second slide">
			    </div>
			    <div class="carousel-item">
			      <img class="d-block w-100" src="assets/face.jpg" alt="Third slide">
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		    </div>
		    <div class="konten">
		    <h2>Welcome Now Showing</h2>
		    </div>
		    <div class="col-md-12">
			<div class="row" >
				<div id="wrapper" v-for="mvie in movie">
			      <img :src="mvie.img"/>
			          <h1>{{mvie.title}}</h1>
			      <div class="overlay"></div>
			      <div class="btn">
			          <a href="detail.html">Buy Tikect</a>
			      </div>
			      <div class="content">
			          <p>{{mvie.deskripsi}}</p>
			      </div>
			    </div>		    
			</div>
			</div>
		    <div class="konten">
		    <h2>COMING SOON</h2>
		    </div>


		<div class="col-md-12">
			<div class="row" >
				<div class="wrapper" v-for="soon in csoon">
			      <div class="hovereffect">
        			<img class="img-responsive" :src="soon.img" alt="">
            		<div class="overlay">
					<p>
						<a href="detail.html">For detail</a>
					</p>
            		</div>
    			</div>
			    </div>		    
			</div>
		</div>

		<div class="spinner-grow text-primary" role="status" style="margin-left:43%">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-secondary" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-success" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-danger" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-warning" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<div class="spinner-grow text-info" role="status">
		  <span class="sr-only">Loading...</span>
		</div>

		 <div class="konten">
		    <h2>OUR LOCATION</h2>
		 </div>

		<div class="col-md-10">
			<div class="row" style="margin-left:5%">
				<div class="card" v-for="loc in location" style="margin-left:5%;">
				  <div class="card-body">
				    <h5 class="card-title">{{loc.title}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">{{loc.address}}</h6>
				    <p class="card-text">{{loc.street}}</p>
				    <a href="#!" class="card-link">Card link</a>
				    
				  </div>
				</div>    
			</div>
		</div>

			<!--footer -->
		
</section>
</body>
<div class="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-lg-3 col-md-6">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Browser</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>bisokop@gmail.com</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>081792765</a></li>
					</ul>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href=""></p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</div>			
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
	Vue.component('my-component',{
	 	template:'<div>{{ message }}</div>',
	 	data: function(){
	 		return{
	 			message:'Hello from Vue!'
	 		}
	 	}
	 })
	new Vue({
		el: '#app',
		data:{
			movie:[
			{id:"1",title: "Action", deskripsi:"film action yang dibintangi artis papan atas",img:'assets/heatshot.jpg'},
			{id:"2",title: "Sejarah", deskripsi:"film sejarah dan biografi seseorang",img:'assets/ziarah.jpg'},
			{id:"3",title: "Drama", deskripsi:"perjalanan menjari cahaya hilal",img:'assets/hilal.jpg'},
			],
			csoon:[
			{id:"1",h2:"Heatshot",img:'assets/heatshot.jpg'},
			{id:"2", h2:"Ziarah",img:'assets/ziarah.jpg'},
			{id:"3",h2:"mencari hilal",img:'assets/hilal.jpg'},
			{id:"1",h2:"Heatshot",img:'assets/heatshot.jpg'},
			{id:"2", h2:"Ziarah",img:'assets/ziarah.jpg'},
			{id:"3",h2:"mencari hilal",img:'assets/hilal.jpg'},
			],
			location:[
			{id:"1",title: "Malang", address: "matos",street:"Jl pengangsaan Barat 45"},
			{id:"2",title: "Surabaya",address: "pakuwon",street:"Jl pengangsaan Barat 45"},
			{id:"3",title: "Jakarta", address: "Grand Indonesia",street:"Jl pengangsaan Barat 45"},
			{id:"4",title: "Medan", address: "Medan Square",street:"Jl pengangsaan Barat 45"},
			],

		}
	});
</script>
</html>