<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>latihan vue</title>
</head>
<body>
	<div id="example-1">
		<label>Tambah Kegiatan</label>
		<input type="text" v-model="new_items">
		<button type="button" @click="add()">Tambah</button>

		<div v-for="(item,index) in items">
			<input type="checkbox" @click="checked(item.id)">{{item.message}}
			<button type="button" @click="update(item.message,item.id)">Update</button>
			<button type="button" @click="remove(index)">remove</button>
		</div>

		<div><hr>
			<label>Done: {{getDone()}}</label><br>
			<label>Not Done: {{getNotDone()}}</label>
		</div>
		<hr>

		<div>
			<input type="text" v-model="edit_items">
			<button type="button" @click="save()">Save
			</button>
			<button type="button" @click="cancel()">Cancel</button><br>
			<button type="button" @click="setlocalStorage()">Save Data</button>
		</div><br>
		<my-component v-bind:message='msg'></my-component>
	</div>

	
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

	Vue.component('my-component',{
		template:'<div>Latihan Component!</div>'
		})
	//PROPS
	Vue.component('my-component',{
		props:['message'],
		template:'<div>{{ message }}</div>',
	})
	//PROPS WITH DATA

	//DATA
	 Vue.component('my-component',{
	 	template:'<div>{{ message }}</div>',
	 	data: function(){
	 		return{
	 			message:'Hello from Vue!'
	 		}
	 	}
	 })
	new Vue({
		el: '#example-1',
		data:{
			
		},		
		created(){
			this.checkLocalItems();
		},
		data:{
			new_items: '',
			edit_items: '',
			edit_id:'',
			items:[
			{id:"1",message: "Belajar", status:""},
			{id:"2",message: "Membaca", status:""}
			],
			msg:'Selamat Datang pelajar Vue.js',
		},		
		methods:{
			add(){
				this.items.push({message:this.new_items})
			},
			remove(){
				this.items.splice(index,1);
			},
			checked(id){
				const tmpItem = this.items.find(item => item.id == id);
				if(tmpItem.status == "done"){
					tmpItem.status = "";
				}else{
					tmpItem.status = "done";
				}
			},
			getDone:function (){
				const tmpItem = this.items.filter(item => item.status == "done").length;
				return tmpItem;
			},			
			getNotDone:function (){
				const tmpItem = this.items.filter(item => item.status == "").length;
				return tmpItem;
			},
			update(message,id){
				this.edit_items = message;
				this.edit_id = id;
			},
			save(){
				const tmpItem = this.items.find(item => item.id == this.edit_id);
				tmpItem.message = this.edit_items;
			},
			cancel(){
				this.edit_items = '';
				this.edit_id = '';
			},
			setlocalStorage(){
				localStorage.setItem("items", JSON.stringify(this.items));
			},
			checkLocalItems(){
				const localItem = JSON.parse(localStorage.getItem("items"))
				if(localItem != null) {
					this.items = localItem;
				}
			}
		}
	});

	
</script>
</html>